.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-menu{
    display: flex;
    padding:0 0rem;

}
.nav-menu li{
    padding: 1rem;
}
.nav-menu a{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}
@media screen and (max-width: 1080px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -2;
        transition: 0.2s;
    }
    .nav-menu.active{
        left:0;
    }
    .hamburger{
        display: initial;
    }
}